# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/

# Ignore Firebase build and cache artifacts
.firebase/

# Ignore Next.js build cache (including nested cache folders)
.next/
.next/cache/
.next/cache/webpack/
project-manager/.firebase/
project-manager/.firebase/task-manager-2dae0/functions/.next/
project-manager/.firebase/task-manager-2dae0/functions/.next/cache/
project-manager/.firebase/task-manager-2dae0/functions/.next/cache/webpack/ 